*.o
VBSHWWCORE/*.o
VBSHWWCORE/*.so
.jobs.txt
hadds/
hists/
outputs/
plots/
studies/*/doAnalysis
studies/*/*.o
.*.history
*.root
*.txt
mystudies/
NanoSkimmer/CMSSW_10_2_13/
NanoSkimmer/*.log
NanoSkimmer/tasks
NanoSkimmer/*.json
test.py
